@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital@1&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital@1&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-primary: #c5e9da;
  --color-secondary: #36b37e;
  --color-tertiary: #172b4d;
  --color-background: #ebf0ee;
  --color-white: #fff;

  /* --color-bgbody: #E5E5E5; */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font-primary);
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.img {
  width: 100%;
}

a {
  color: var(--color-white);
}

/* buttons */
.btn-hover {
  border: none;
  transition: all 0.5s ease-in-out;
}

.btn-hover:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  background: var(--color-secondary);
  border-radius: 4px;
}

.btn-hover:active {
  background: #008552;
}

.btn-zoom {
  transition: all 0.4s ease-in-out;
}

.btn-zoom:hover {
  transform: scale(1.4);
}

/* reusable */
.wrapper {
  margin: 0 27px;
  height: 100%;
}

.section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--color-tertiary);
}

/* header section */
.header-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  min-height: 48px;
  background-color: var(--color-white);
}

.navbar {
  display: flex;
  align-items: center;
  height: 48px;
  justify-content: flex-end;
}

.navbar-header {
  position: absolute;
  background-color: var(--color-white);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
}

.navbar-list {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #3a4a42;
  list-style: none;
}

.menu-open-btn {
  border: none;
  padding: 8px;
  background: var(--color-white);
}

.menu-close-btn {
  position: relative;
  align-self: flex-end;
  width: max-content;
  margin-right: 24px;
  padding: 8px;
  margin-top: 2px;
  height: 44px;
  border: none;
  background-color: var(--color-white);
}

/* headline section */
.headline-container {
  padding: 64px 0;
  width: 100%;
  /* stylelint-disable declaration-colon-newline-after */
  background-image: url("./assets/headline/background-1.svg"),
    url("./assets/headline/background-2.svg"),
    url("./assets/headline/background-3.svg"),
    url("./assets/headline/background-4.svg"),
    url("./assets/headline/background-5.svg"),
    url("./assets/headline/background-6.svg"),
    url("./assets/headline/background-7.svg"),
    url("./assets/headline/background-8.svg");
  /* stylelint-enable declaration-colon-newline-after */
  background-position: center center, 100% 42%, 0% 80%, 0% 19%, 0% 0%, 100% 7%,
    40% 72%, 100% 95%;
  background-repeat: no-repeat;
  background-size: cover, auto, auto, auto, auto, auto, auto, auto;
}

.headline-content {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.primary-headline {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.first-headline {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: var(--color-tertiary);
}

.second-headline {
  color: var(--color-secondary);
}

.text-headline {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 22px;
  color: var(--color-tertiary);
}

.social-icons {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.headline-scroll {
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.scroll-icon {
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  left: calc(50% - 40px / 2 + 0.5px);
  bottom: 4px;
  background: var(--var-white);
  border: 1px solid #dfe1e6;
  border-radius: 32px;
}

/* recent work */
.work-container {
  display: grid;
  gap: 86px;
  margin: 0 auto;
  margin-top: -86px;
  padding: 64px 0;
  width: fit-content;
  justify-content: center;
}

.work-title {
  text-align: center;
  position: relative;
}

.work-title::after {
  content: "";
  width: 48px;
  left: calc(50% - 48px / 2);
  height: 4px;
  bottom: -24px;
  position: absolute;
  border-radius: 24px;
  background-color: #36b37e;
}

.cards-container {
  display: grid;
  padding: 4px 2px;
  gap: 24px;
}

.card {
  position: relative;
  background: var(--color-background);
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.card-image {
  height: 252px;
  width: 100px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background: var(--color-white);
  border-radius: 8px;
  color: #3a4a42;
  font-family: var(--font-secondary);
  font-style: normal;
}

.card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  padding: 16px 16px 0 16px;
}

.card-items {
  display: flex;
  flex-wrap: wrap;
  gap: 5.2px;
}

.card-item {
  background: var(--color-background);
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 3%;
  color: #3a4a42;
}

.card-button {
  padding: 12px;
  margin-bottom: 8px;
  margin-top: 13px;
  background: var(--color-secondary);
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--color-white);
}

/* about section */
#about-me {
  padding-bottom: 64px;
  /* stylelint-disable declaration-colon-newline-after */
  background-image: url("./assets/illustration_1-about_me-mobile.svg"),
    url("./assets/illustration_2-about_me_mobile.svg");
  /* stylelint-enable declaration-colon-newline-after */
  background-position: 100% -2%, 0% 17%;
  background-repeat: no-repeat;
}

.about-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 58px;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-title {
  text-align: center;
  position: relative;
}

.about-text {
  color: #42526e;
  text-align: center;
  font-size: 20px;
  line-height: 32px;
}

.resume-btn {
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  width: fit-content;
  outline: none;
  border: none;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-white);
  margin: 0 auto;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.skill-wrapper {
  box-sizing: border-box;
  background: var(--color-background);
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

.skill-card {
  padding: auto 24px;
}

.skill-icon-container {
  padding-top: 13px;
  padding-bottom: 8px;
}

.skill-content {
  border-radius: 8px;
  padding: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background: var(--color-background);
}

.skill-title {
  margin-top: -40px;
  margin-bottom: 20px;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.skill-items {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 72px;
}

.skill-item {
  background: var(--color-white);
  border-radius: 8px;
  padding: 12px;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
}

/* contact section */
#contact {
  padding: 20px 0;
}
.contact-title {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: var(--color-tertiary);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-name,
.form-email,
.form-textarea {
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  width: 100%;
  padding: 15px 16px;
  margin: 24px auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  font-family: var(--font-secondary);
  font-style: italic;
  color: #6b778c;
}

.form-textarea {
  border: 1px solid #60c095;
  padding: 12px;
  font-style: normal;
  color: #42526e;
}

.form-textarea::placeholder {
  color: #42526e;
}

.contact-button {
  padding: 12px;
  background: var(--color-secondary);
  border-radius: 4px;
  border: none;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: var(--color-white);
  text-align: center;
}

/* footer section */
.footer {
    background-image: url(./assets/illustration-contact-form.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  margin-bottom: 40px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-email {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 30px 0;
}
